body {
  background-color: rgb(106, 166, 219);
}

.jumbotron {
  background-color: rgba(6, 255, 48, 0.425);
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 760px;
  border: 4px inset black;
  border-radius: 30px;
}

h1 {
  font-size: 40px;
  color: rgb(27, 32, 17);
  text-shadow: 2px 2px darkgoldenrod;
  opacity: 1;
}

h2, p {
  text-align: center;
}

input {
  align-items: center;
}

.amount {
  width: 50%;
  margin-left: px;
  color: rgb(42, 150, 9);
  text-shadow: 1px 1px black;
  background-color: rgba(238, 212, 95, 0.712);
}

.usd {
  margin-left: 580px;
}